
.title {
  font-size: 45px;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 40px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

/*******TABLE*****/
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  background: #fff;
  padding: 0px;
  border-radius: 15px;
  border:1px solid var(--foreground-color);
  
  @media(min-width: 1024px){
    padding: 15px;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  @media(min-width: 1024px){
    padding: 10px;
  }
}

.row:last-child {
  border-bottom: 0;
}

.coll {
  flex: 1;
  text-align: center;
  font-size: 12px;

  @media(min-width: 768px){
    font-size: 16px;
  }
  @media(min-width: 1024px){
    font-size: 20px;
  }
}

.row:first-child {
  font-weight: bold;
}

/*******END-TABLE*****/