
.donutChartContainer {
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;

  .donutchart {
    display: none!important;
  }
}
.donutchartContainer {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
}

.donutchart {
  order: 1; /* DonutChart comes after legend in visual order */
}

.donut-legend-item {
  display: none!important;
}