.modalTitle {
  font-size: 25px;
  color: #05135f;
  text-align: center;
  margin-bottom: 40px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.dashboard {

  @media(min-width: 1100px){
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
}


.form {
  max-width: 500px;
  margin: 0 auto;
}

.tablePanel {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid #444;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 15px;

  h2 {
    font-size: 25px;
    color:  #05135f;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }
}

